
/* 
    Ana Fernandez Ostio, UO275780 
    En este archivo va todo lo comun a los html
*/

/*(0,0,1)*/
header{
    color: black;
    background-color: #4DD2FF;
}

/*(0,0,1)*/
li{
    font-size: 1.1em;
}

/*(0,0,1)*/
p{
    font-size: 1.1em;
}

/*(0,0,1)*/
video, audio, img {
    display: block;
    width: 75%;
    margin: auto;
}
/*(0,0,1)*/
section, article {
    padding: 0.5em;
}
/*(0,0,1)*/
h1, h2, h3{
    justify-content: center;
}
/*(0,0,1)*/
body{
    font-size: 1.1em;
}