/* 
    Ana Fernandez Ostio, UO275780 
    En este archivo va todo lo relacionado con la forma que adopta la web  
*/
/*(0,0,1)*/
body{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main aside'
    'footer footer footer footer footer';
}

/*(0,0,1)*/
main{
    grid-area: main;
}

/*(0,0,1)*/
header{
    grid-area: header;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*(0,0,1)*/
footer{
    grid-area: footer;
}

/*(0,0,1)*/
nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*(0,0,1)*/
aside {
    grid-area: aside;
}